html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.content-container img {
  width: 100% !important;
  height: auto;
}

.content-container figure {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

  /* width: 80%; */
  /* margin: auto; */
}